@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "DM Sans", serif;
  background-color: #FCFCFF;
}



.nav:hover{
    color: #6461D5;
    text-decoration: underline;
    transition: 0.5s;
    transition-duration: 0.5s;
  }
  
  .active:hover{
    color:#6461D5
  }
.active{
    color:#6461D5;
  
  
}